
body {
    color: rgb(175, 166, 36);
    /* background-color: rgb(42, 47, 56); */
    text-align: center;

    background-image: url(pictures/Sternenhimmel.jpg);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    
}

h2 {
    color: rgb(242, 245, 61);
    text-shadow: 4px 4px 5px black;
}

h3 {
    color: rgb(34, 216, 223);
    font-size: x-large;
    font-style: oblique;
}

h4 {

}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

div {
    text-align: center;
    margin: auto;
}

a {
    color: rgb(175, 166, 36);
}

table {
    margin: auto;
    /* border-style: outset; */
}

img {
    opacity: 0.7;
}

iframe {

    width: 90%; 
    height: 90%; 
    max-width: 560px; 
    max-height: 315px; 
    height: 550px;
}

.plaintext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

.container {
    background: linear-gradient(to right, rgb(94, 65, 65),rgb(35, 88, 90));
    box-shadow: 4px 4px 10px black;
}

.borderImg {
    text-align: center;
    width: 90%;
    max-width: 790px;
    border: 6px inset rgb(116, 139, 134);
}

#contactField {
    text-align: center;
}

#mercury {
    color: rgba(242, 245, 61, 0.795);
    text-shadow: 4px 4px 5px black;
}
