
body {
    color: rgb(247, 255, 177);
    /* background-color: rgb(42, 47, 56); */
    text-align: center;

    background-image: url(pictures/Sternenhimmel.jpg);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
    font-family: Macondo, serif;
}

div h1 {
    color: white;
}

html h1 {
    color: yellow;
}

h1 {
    color: red;
}

h2 {
    color: rgb(242, 245, 61);
    text-shadow: 4px 4px 5px black;
}

h3 {
    color: rgb(34, 216, 223);
    font-size: x-large;
    font-style: oblique;
    font-family: "Lexend Giga", sans-serif, serif;
}


p {
    font-family: Macondo, serif;
    text-align: left;
}

div {
    text-align: center;
    margin: auto;
}

button {
    background: black;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: larger;
    padding: 10px 20px;
    margin: 10px;
}

a {
    color: rgb(175, 166, 36);
}

table {
    margin: auto;
    /* border-style: outset; */
}

ul li {
    text-align: left;
    color: aquamarine;
}

ul > li {
    color: burlywood;
}

img {
    opacity: 0.7;
}

iframe {

    width: 90%; 
    height: 90%; 
    max-width: 560px; 
    max-height: 315px; 
    height: 550px;
}

.container {
    background: linear-gradient(to right, rgb(98, 113, 122),rgba(173, 208, 209, 0.541));
    box-shadow: 4px 4px 10px black;
}

.row {
    display: flex;
    width: 100%;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    border: 2px solid red;
    padding: 15px;
}

.borderImg {
    text-align: center;
    width: 90%;
    max-width: 790px;
    border: 6px inset rgb(116, 139, 134);
}

#contactField {
    text-align: center;
}

#mercury {
    color: rgba(242, 245, 61, 0.795);
    text-shadow: 4px 4px 5px black;
}
